<!-- sidebar section -->
<aside class="sidebar bg-color d-flex flex-column justify-content-between">
  <div>
    <!-- 圖片取代文字 -->
    <h1 class="logo">
      <a href="#" class="mb-4">ANSWER</a>
    </h1>

    <!-- sidebar menu list -->
    <ul class="list">
      <li class="list-item mb-3">
        <a href="#" class="list-item-link d-flex align-items-center">
          <i class="material-icons mr-3"> insert_chart </i>
          Dashboard</a
        >
      </li>
      <li class="list-item mb-3">
        <a href="#" class="list-item-link d-flex align-items-center"
          ><i class="material-icons mr-3"> question_answer </i>Question</a
        >
      </li>
      <li class="list-item mb-3">
        <a href="./index.html" class="list-item-link d-flex align-items-center"
          ><i class="material-icons mr-3"> assignment </i>Assignment</a
        >
      </li>
      <li class="list-item mb-3">
        <a href="#" class="list-item-link d-flex align-items-center"
          ><i class="material-icons mr-3"> video_library </i>Course</a
        >
      </li>
      <li class="list-item mb-3">
        <a href="./admin.html" class="list-item-link d-flex align-items-center"
          ><i class="material-icons mr-3"> people </i>Admin</a
        >
      </li>
      <li class="list-item mb-3">
        <a href="#" class="list-item-link d-flex align-items-center"
          ><i class="material-icons mr-3"> settings </i>Settings</a
        >
      </li>
    </ul>
  </div>

  <!-- 底部user info -->
  <div class="user d-flex align-items-center">
    <img src="./assets/images/andychen.jpeg" alt="" class="userImg" />
    <div class="userInfo d-flex flex-column ml-3">
      <span class="userName font-weight-bold">Andy Chen</span>
      <span class="userEmail text-secondary">andy0401@mail.com</span>
    </div>
  </div>
</aside>
